<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Portal App 📖🗞</title>

  </head>

  <body>

  <div id="public-api">
    <ul>
      <li><button onclick="loadAllArticles()">All Articles</button></li>
      <li><button onclick="loadAllComments()">All Comments</button></li>
      <li><button onclick="loadAllArticlesWithNoAuthor()">All Articles with No Author</button></li>
    </ul>

    <hr>

    <div id="all-articles"></div>
    <div id="all-comments"></div>
    <div id="all-articles-no-author"></div>
  </div>
  </body>
</html>
